.title_icon {
  width: 10%;
  height: 10%;
}

.dice {
    text-align: center;
    display: inline-block;
}

.dice_img1, .dice_img2 {
  margin: auto 30px;
}

.container {
  text-align: center;
  margin: auto;
  width: 70%;
}

body {
  background-color: #3A3845;
}

h1 {
  font-family: "Lobster",sans-serif;
  font-size: 10rem;
  color: #05595B;
  text-shadow: 5px 0 #232931;
}

p {
  font-family: "Lobster",sans-serif;
  font-size: 2rem;
  color: #05595B;
  text-shadow: 5px 0 #232931;
}

footer {
  background-color: #3A3845;
  margin-top: 5rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Lobster",sans-serif;
  color: #fff;
}
